<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AvisSystem.Properties.Settings.GroupPmb3ConnectionString"
            connectionString="Data Source=146.230.177.46;Initial Catalog=GroupPmb3;User ID=GroupPmb3;Password=tt9d2hTrustServerCertificate=True;"
            providerName="System.Data.SqlClient" />
        <add name="AvisSystem.Properties.Settings.ConnectionString" connectionString="Data Source=146.230.177.46;User ID=GroupPmb3;Password=tt9d2h;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>